.header__burger {
    display: inline-block;
    cursor: pointer;
}

.header__burger-bar1,
.header__burger-bar3 {
    border-radius: 3px;
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;    
}

.header__burger-bar2 {
    border-radius: 3px;
    width: 30px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;     
}

.header__burger:hover 
.header__burger-bar2 {
    width: 35px;
}

/* Rotate first bar */
.change .header__burger-bar1 {
    -webkit-transform: rotate(-45deg) translate(-8.5px, 7px) ;
    transform: rotate(-45deg) translate(-8.5px, 7px) ;
}

/* Fade out the second bar */
.change .header__burger-bar2 {
    width: 0;
}

/* Rotate last bar */
.change .header__burger-bar3 {
    -webkit-transform: rotate(45deg) translate(-8.5px, 7px) ;
    transform: rotate(45deg) translate(-8.5px, -7px) ;
}