body {
  font-family: 'Quicksand', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: black;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .15s;
  transition: opacity .15s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

